/* Контейнер для всего содержимого */
.hero {
	position: fixed; /* Фиксируем контейнер на экране */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../assets/backgroundImg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Размещаем элементы по вертикали */
	align-items: center;
	padding: 20px;
	color: #fff;
	text-align: center;
}

/* Общий стиль для всех элементов */
.hero-item {
	width: 80%; /* Ширина каждого элемента */
	padding: 20px;
	border-radius: 8px;
	color: #fff;
	text-align: center;
}

/* Позиционирование и цвета для каждого элемента */
.hero-item.top {
	background-color: rgba(255, 0, 0, 0.552); /* Красный */
}

.hero-item.bottom {
	background-color: #004d997a; /* Зеленый */
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
	.hero-item.bottom {
		/* Поднимаем нижний элемент вверх на мобильных устройствах */
		margin-top: 20px; /* Уменьшаем отступ, поднимая элемент вверх */
	}
	
	.hero {
		justify-content: flex-start; /* Элементы начинаются с верхней части экрана */
	}

	.hero-item {
		width: 90%; /* Немного увеличиваем ширину элементов на мобильных */
		padding: 15px; /* Меньше отступов */
	}
}
